spring:
  application:
    name: auth-server
  datasource:
    url: jdbc:postgresql://localhost:5432/data_lockers
    database: data_lockers
    username: admin
    password: admin
    driverClassName: org.postgresql.Driver
  jpa:
    #    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    jwt:
      secret: 3a1b4b97b2e41dea47029c287355a6e7903f91712be40cee3cb80aad145c5f15
